p,
h2 {
	font-size: 16px; /* Wielkość czcionki */
	color: #333; /* Kolor tekstu */
	line-height: 1.5; /* Odstęp między wierszami */
	margin: 15px 0; /* Odstępy na górze i na dole */
	padding: 0; /* Wewnętrzne odstępy */
	font-family: 'Arial'; /* Rodzaj czcionki */
	text-align: justify; /* Wyrównanie tekstu do lewej i prawej krawędzi */
}
body {
	font-size: 0.75rem;
	background-color: var(--background-color);
}
.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-color);
	color: var(--tertiary-color);
	width: 80%;
	padding: 15px 0;
	margin-top: 20.5px;
	margin-left: auto;
	margin-right: auto;
}
.profile-image-section {
	position: relative;
	width: 170px;
	height: 170px;
	cursor: pointer; /* Changes the cursor to the clicking hand */
	transition: transform 0.3s ease; /* Smooth transition for the transform */
}
.profile-image-section:hover {
	transform: scale(1.05); /* Slightly increase the size on hover */
}

/* Hover state for the instruction text */
.profile-image-section:hover .update-instruction {
	visibility: visible;
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
	color: var(--tertiary-color);
}

/* Initial state of the instruction text */
.update-instruction {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.8rem;
	white-space: nowrap;
}
.profile-avatar {
	width: 250px; /* 75% z 200px */
	height: 250px; /* 75% z 200px */
	margin-bottom: 37.5px; /* 75% z 50px */
	border-radius: 25%;
	background-color: #e5e5e5; /* Dummy background color */
}
.paper-container {
	display: flex;
	flex-wrap: wrap; /* Allow wrapping for smaller screens or more columns */
	gap: 15px; /* This replaces the margin-right from .profile-section */
	justify-content: space-between;
	width: 100%;
}
.paper-container > .profile-section:last-child {
	margin-right: 0; /* Usunięcie odstępu po prawej stronie dla ostatniej sekcji */
}
.profile-section {
	background: var(--secondary-color);
	color: var(--tertiary-color);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	padding: 15px;
	flex: 1; /* Allow flex-grow */
	min-width: 250px; /* Minimum width of each paper */
}
/* Basic styling for textfields and buttons */
.TextField,
.Button {
	margin: 7.5px 0;
	width: 100%;
}
.profile-section h2 {
	font-size: 18px; /* 75% z 24px */
	margin-bottom: 15px; /* 75% z 20px */
}

.profile-section p {
	margin-bottom: 7.5px;
}

.form-divider {
	height: 1px;
	background-color: var(--divider-color);
	margin: 5px 0;
}
.form-divider {
	height: 2px;
	background-color: #000;
	margin: 20px 0;
	width: 100%;
	align-self: center;
}
.alert-negative {
	background-color: var(--negative-color);
	color: var(--background-color);
}

.alert-positive {
	background-color: var(--positive-color);
	color: var(--background-color);
}
