/* AboutUs.css */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 20px;
}

.content {
	max-width: 1000px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
	color: var(--text-color);
}

.column {
	flex: 1;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--text-color);
}

.title,
.subtitle,
.contentText {
	color: var(--text-color);
}

.icon {
	font-size: 40px;
	color: var(--icon-color);
}
